---
title: Developer Guide
---

This guide has instructions for pushing an application to Cloud Foundry and
making the application work with any available cloud-based services it uses,
such as databases, email, or message servers.
The core of this guide is the [Deploy an Application](./deploy-apps/deploy-app.html) process
guide, which provides end-to-end instructions for deploying and running
applications on Cloud Foundry, including tips for troubleshooting deployment and
application health issues.

Before you can use the instructions in this document, you will need an account
on your Cloud Foundry instance.

___

## <a id='prepare'></a>Preparing Applications for the Cloud ##

[Considerations for Designing and Running an Application in the Cloud](./deploy-apps/prepare-to-deploy.html)

___

## <a id='prepare'></a>	Deploying and Managing Applications ##
[Deploy an Application](./deploy-apps/deploy-app.html)

[Configuring Domains, Subdomains, and Routes](./deploy-apps/domains-routes.html)

[Deploying with Application Manifests](./deploy-apps/manifest.html)

[Cloud Foundry Environment Variables](./deploy-apps/environment-variable.html)

[Using Blue-Green Deployment to Reduce Downtime and Risk](./deploy-apps/blue-green.html)

[Application Logging in Cloud Foundry](./deploy-apps/streaming-logs.html)

[Troubleshooting Application Deployment and Health](./deploy-apps/troubleshoot-app-health.html)

___

## <a id='cf'></a>cf Command Line Interface ##
[Installing the cf Command Line Interface](./installcf/install-go-cli.html)

[Getting Started with cf CLI v6](./installcf/whats-new-v6.html)

[Using the cf CLI with an HTTP Proxy Server](./installcf/http-proxy.html)

[Starting Applications using the cf CLI](./deploy-apps/app-startup.html)

[Using cf CLI Plugins](./installcf/use-cli-plugins.html)

[Scaling an Application Using cf scale](./deploy-apps/cf-scale.html)

___

## <a id='services'></a>Services ##
[Services Overview](./services/index.html)

[Adding a Service](./services/adding-a-service.html)

[Binding a Service Instance](./services/bind-service.html)

[Managing Service Instances](./services/managing-services.html)

[Third-Party Managed Services](./services/managed.html)

[User-Provided Services](./services/user-provided.html)

[Configuring Play Framework Service Connections](./services/play-service-bindings.html)

[Migrating a Database in Cloud Foundry](./services/migrate-db.html)

[Using Third Party Log Management Services](./services/log-management.html)

[Configuring Selected Third Party Log Management Services](./services/log-management-thirdparty-svc.html)

[Integrating Cloud Foundry with Splunk](./services/integrate-splunk.html)
