---
title: Developer Guide
---

This guide has instructions for pushing an application to Cloud Foundry and
making the application work with any available cloud-based services it uses,
such as databases, email, or message servers.
The core of this guide is the [Deploy an Application](./deploy-apps/deploy-app.html) process guide, which provides 
end-to-end instructions for deploying and running applications on Cloud 
Foundry, including tips for troubleshooting deployment and application health 
issues.

Before you can use the instructions in this document, you must have an account 
on your Cloud Foundry instance.

___

## <a id='prepare'></a>Preparing Applications for the Cloud ##

* <a href="./deploy-apps/prepare-to-deploy.html" class="subnav">Considerations for Designing and Running an Application in the Cloud</a>

___

## <a id='deploy'></a>Deploying and Managing Applications ##

<ul>
<li><a href="./deploy-apps/deploy-app.html" class="subnav">Deploy an Application</a></li>

<li><a href="./deploy-apps/large-app-deploy.html" class="subnav">Deploy a Large Application</a></li>

<li><a href="./deploy-apps/start-restart-restage.html" class="subnav">Starting, Restarting, and Restaging Applications</a></li>

<li><a href="./deploy-apps/app-lifecycle.html" class="subnav">Application Container Lifecycle</a></li>

<li><a href="./deploy-apps/routes-domains.html" class="subnav">Routes and Domains</a></li>

<li><a href="./deploy-apps/stacks.html" class="subnav">Changing Stacks</a></li>

<li><a href="./deploy-apps/manifest.html" class="subnav">Deploying with Application Manifests</a></li>

<li><a href="./deploy-apps/healthchecks.html" class="subnav">Using Application Health Checks</a></li>

<li><a href="./deploy-apps/cf-scale.html" class="subnav">Scaling an Application Using cf scale</a></li>

<li><a href="./using-tasks.html" class="subnav">Running Tasks</a></li>

<%=vars.autoscaler_bullet%>

<li><a href="./deploy-apps/environment-variable.html" class="subnav">Cloud Foundry Environment Variables</a></li>

<li><a href="./deploy-apps/blue-green.html" class="subnav">Using Blue-Green Deployment to Reduce Downtime and Risk</a></li>

<li><a href="./deploy-apps/streaming-logs.html">Application Logging in Cloud Foundry</a></li>

<li><a href="./deploy-apps/troubleshoot-app-health.html" class="subnav">Troubleshooting Application Deployment and Health</a></li>

<li><a href="./deploy-apps/app-ssh-overview.html" class="subnav">Application SSH Overview</a></li>

<li><a href="./deploy-apps/ssh-apps.html" class="subnav">Accessing Apps with SSH</a></li>

<li><a href="./deploy-apps/ssh-services.html" class="subnav">Accessing Services with SSH</a></li>

<li><a href="./deploy-apps/trusted-system-certificates.html" class="subnav">Trusted System Certificates</a></li>

<li><a href="./capi/client-libraries.html" class="subnav">Cloud Controller API Client Libraries</a></li>

</ul>
___

## <a id='services'></a>Services ##

<ul>
<li><a href="./services/index.html">Services Overview</a></li>

<li><a href="./services/application-binding.html" class="subnav">Delivering Service Credentials to an Application</a></li>

<li><a href="./services/managing-services.html" class="subnav">Managing Service Instances</a></li>

<li><a href="./services/service-keys.html" class="subnav">Managing Service Keys</a></li>

<li><a href="./services/user-provided.html" class="subnav">User-Provided Service Instances</a></li>

<li><a href="./services/log-management.html" class="subnav">Streaming Application Logs to Log Management Services</a></li>

<li><a href="./services/log-management-thirdparty-svc.html" class="subnav">Service-Specific Instructions for Streaming Application Logs</a></li>

<li><a href="./services/integrate-splunk.html" class="subnav">Streaming Application Logs to Splunk</a></li>

<li><a href="./services/fluentd.html" class="subnav">Streaming Application Logs with Fluentd</a></li>

<li><a href="./services/play-service-bindings.html" class="subnav">Configuring Play Framework Service Connections</a></li>

<li><a href="./services/migrate-db.html" class="subnav">Migrating a Database in Cloud Foundry</a></li>

<li><a href="./services/using-vol-services.html" class="subnav">Using an External Filesystem (Volume Services)</a></li>

</ul>
