---
title: Managing Apps with the Tanzu cf CLI
owner:
---

These topics contain information about managing apps with the Tanzu cf CLI:

<ul>
   <li>
      <a href="./using-tasks.html">Running tasks</a>
   </li>
   <li>
      <a href="deploy-apps/cf-scale.html">Scaling an app using cf scale</a>
   </li>
   <li>
      <a href="deploy-apps/healthchecks.html">Using application health checks</a>
   </li>
