---
title: Managing Apps with the cf CLI
owner: 
---

The following list provides information about managing apps with the Cloud Foundry Command Line Interface (cf CLI):

<ul>
   <li>
      <a href="./using-tasks.html">Running Tasks</a>
   </li>
   <li>
      <a href="deploy-apps/cf-scale.html">Scaling an App Using cf scale</a>
   </li>
   <li>
      <a href="deploy-apps/healthchecks.html">Using Application Health Checks</a>
   </li>