---
title: cf push
owner: cf cli
---

This topic provides an overview of the documentation available for `cf push`.

## <a id="how-to-use"></a> How to Use cf push

The following topics provide procedures for deploying apps with `cf push`:

* [Pushing an App](./deploy-apps/deploy-app.html)

* [Deploying with App Manifests](./deploy-apps/manifest.html)
	* [App Manifest Attribute Reference](./deploy-apps/manifest-attributes.html)

* [Deploying an App with Docker](./deploy-apps/push-docker.html)

* [Deploying a Large App](./deploy-apps/large-app-deploy.html)

* [Starting, Restarting, and Restaging Apps](./deploy-apps/start-restart-restage.html)

* [Pushing an Application with Multiple Buildpacks](../buildpacks/use-multiple-buildpacks.html)

* [Pushing an App with Multiple Processes](./multiple-processes.html)

* [Running cf push Sub-Step Commands](push-sub-commands.html)

* [Rolling App Deployments](./deploy-apps/rolling-deploy.html)

* [Pushing Apps with Sidecar Processes](./sidecars.html)

### <a id="troubleshoot"></a> How to Troubleshoot

For information about troubleshooting when running `cf push`, see [Troubleshooting App Deployment and Health](deploy-apps/troubleshoot-app-health.html).


## <a id="how-push-works"></a> How cf push Works

The following topics provide information about how `cf push` works:

* The [Push](../cf-cli/getting-started.html#push) section of _Getting Started with the cf CLI_.

* [App Container Lifecycle](./deploy-apps/app-lifecycle.html)

* [How Apps Are Staged](../concepts/how-applications-are-staged.html)
