---
title: How to push your app with Cloud Foundry CLI (cf push)
owner: cf cli
---


These topics contain the procedures for deploying apps with `cf push`:

* [Pushing your app using Cloud Foundry CLI (cf push)](./deploy-apps/deploy-app.html)

* [Deploying with app manifests](./deploy-apps/manifest.html)

	* [App manifest attribute reference](./deploy-apps/manifest-attributes.html)

* [Deploying an app with Docker](./deploy-apps/push-docker.html)

* [Deploying your large apps](./deploy-apps/large-app-deploy.html)

* [Starting, restarting, and restaging Apps](./deploy-apps/start-restart-restage.html)

* [Pushing your app with multiple buildpacks](../buildpacks/use-multiple-buildpacks.html)

* [Pushing an app with multiple processes](./multiple-processes.html)

* [Running cf push sub-step commands](push-sub-commands.html)

* [Configuring canary app deployments](./deploy-apps/rolling-deploy.html#how-deployment-strategies-work)

* [Configuring rolling app deployments](./deploy-apps/rolling-deploy.html)

* [Pushing apps with sidecar processes](./sidecars.html)


## <a id="troubleshoot"></a> Troubleshooting

For information about troubleshooting when running `cf push`, see [Troubleshooting app deployment and health](deploy-apps/troubleshoot-app-health.html).


## <a id="how-push-works"></a> How cf push works

The following topics provide information about how `cf push` works:

* The [Push](../cf-cli/getting-started.html#push) section of _Getting Started with the cf CLI_.

* [The application container life cycle on Diego architecture](./deploy-apps/app-lifecycle.html)

* [How apps are staged](../concepts/how-applications-are-staged.html)
