---
title: Routes and Domains
owner: CF for VMs Networking
---

The following list provides information about configuring routes and domains:

<ul>
<li>
<a href="deploy-apps/routes-domains.html">Configuring Routes and Domains</a>
</li>
</ul>