---
title: Routes and Domains
owner: 
---

The following list provides information about configuring routes and domains:

<ul>
<li>
<a href="deploy-apps/routes-domains.html">Configuring Routes and Domains</a>
</li>
<li>
<a href="weighted-routing.html">Using Weighted Routing (Beta)</a>
</li>
<li>
<a href="custom-ports.html">Configuring CF to Route Traffic to Apps on Custom Ports</a>
</li>
</ul>