---
title: Managing Services
owner:
---

The following topics provide information about managing service instances:

<ul>
	<li>
		<a href="services/">Services overview</a>
	</li>
	<li>
		<a href="services/managing-services.html">Managing service instances</a>
	</li>
	<li>
		<a href="services/sharing-instances.html">Sharing service instances</a>
	</li>
	<li>
		<a href="services/application-binding.html">Delivering service credentials to an app</a>
	</li>
	<li>
		<a href="services/service-keys.html">Managing Service Keys</a>
	</li>
	<li>
		<a href="services/play-service-bindings.html">Configuring Play Framework service connections</a>
	</li>
	<li>
		<a href="services/using-vol-services.html">Using an external file system (volume services)</a>
	</li>
	<li>
		<a href="services/user-provided.html">User-provided service instances</a>
	</li>
</ul>