---
title: Managing Services
owner: 
---

The following list provides information about managing service instances:

<ul>
	<li>
		<a href="services/">Services Overview</a>
	</li>
	<li>
		<a href="services/managing-services.html">Managing Service Instances</a>
	</li>
	<li>
		<a href="services/sharing-instances.html">Sharing Service Instances</a>
	</li>
	<li>
		<a href="services/application-binding.html">Delivering Service Credentials to an App</a>
	</li>
	<li>
		<a href="services/service-keys.html">Managing Service Keys</a>
	</li>
	<li>
		<a href="services/play-service-bindings.html">Configuring Play Framework Service Connections</a>
	</li>
	<li>
		<a href="services/using-vol-services.html">Using an External File System (Volume Services)</a>
	</li>
	<li>
		<a href="services/user-provided.html">User-Provided Service Instances</a>
	</li>
</ul>