---
title: Streaming App Logs
owner: 
---

The following list provides information about streaming app logs:

<ul>
   <li>
      <a href="services/log-management.html">Streaming App Logs to Log Management Services</a>
   </li>
   <li>
      <a href="services/log-management-thirdparty-svc.html">Service-Specific Instructions for Streaming App Logs</a>
   </li>
   <li>
      <a href="services/integrate-splunk.html">Streaming App Logs to Splunk</a>
   </li>
   <li>
      <a href="services/fluentd.html">Streaming App Logs with Fluentd</a>
   </li>
   <li>
      <a href="services/oms-nozzle.html">Streaming App Logs to Azure OMS Log Analytics</a>
   </li>