---
title: Streaming App Logs
owner:
---

The following topics provide information about streaming app logs:

<ul>
   <li>
      <a href="services/log-management.html">Streaming app logs to log management services</a>
   </li>
   <li>
      <a href="services/log-management-thirdparty-svc.html">Streaming app logs to third-party services</a>
   </li>
   <li>
      <a href="services/integrate-splunk.html">Streaming app logs to Splunk</a>
   </li>
   <li>
      <a href="services/fluentd.html">Streaming app logs with Fluentd</a>
   </li>
   <li>
      <a href="services/oms-nozzle.html">Streaming app logs to Azure OMS Log Analytics</a>
   </li>