---
title: Running Tasks
owner: CAPI
---

<strong><%= modified_date %></strong>

This topic describes how to run tasks in Cloud Foundry. A task is an application or script whose code is included as part of a deployed application, but runs independently in its own container.

## <a id='about-tasks'></a> About Tasks

In contrast to a long running process (LRP), tasks run for a finite amout of time, then stop. Tasks run in their own containers and are designed to use minimal resources. After a task runs, Cloud Foundry destroys the container running the task.

As a single-use object, a task can be checked for its state and for a success or failure message.

### <a id="use-cases"></a> Use Cases for Tasks

Tasks are used to perform one-off jobs, which can include:

* Migrating a database
* Sending an email
* Running a batch job
* Running a data processing script
* Processing images
* Optimizing a search index
* Uploading data
* Backing-up data
* Downloading content

###<a id="task-proceses"></a> How Tasks Are Run

Tasks are always executed asynchronously, meaning that they run independently from the parent application or other tasks that run on the same application.

The life-cycle of a task is:

1. A user initiates a task in Cloud Foundry using one of the following mechanisms:
   *  `cf run-task APPNAME "TASK"` command. See [Running Tasks](#run-tasks)			
   * Cloud Controller v3 API call. See the [Tasks](http://v3-apidocs.cloudfoundry.org/version/3.0.0/index.html#tasks) API reference page.
   * Cloud Foundry Java Client. See [Cloud Foundry Java Client Library](../buildpacks/java/java-client.html) and [Cloud Foundry Java Client](https://github.com/cloudfoundry/cf-java-client).

1. Cloud Foundry creates a container specifically for the task.
1. Cloud Foundry runs the task on the container using the value passed to the `cf run-task` command.
1. Cloud Foundry destroys the container.

When creating the container, Cloud Foundry uses the disk size and memory allocation specified for the parent application. The new container for the task also respects app, space, and organization-level memory quotas. 

The container also inherits environment variables, service bindings and security groups bound to the application. 

<p class="note"><strong>Note</strong>: You cannot SSH into the container running a task.</p>

### Task Logging and Execution History

Any data or messages the task outputs to STDOUT or STDERR is be available on the app’s firehose logs. A syslog drain attached to the app receives the task log output.

The task execution history is retained for one month. 

## <a id='manage-tasks'></a> Manage Tasks

From a system-level point of view, a user with admin-level privileges can use the Cloud Controller v3 API to view all tasks that are running within an org or space. For more information, see the documentation for the [Cloud Controller v3 API](http://v3-apidocs.cloudfoundry.org/version/3.0.0/index.html#list-tasks).

In addition, admins can set the default memory and disk usage quotas for tasks on a global level. Tasks use the same memory and disk usage defaults as applications.

partialize this-->
These defaults are located in the BOSH manifest or in the Application Developer Controls configuraiton screen of the Elastic Runtime.

## <a id='run-tasks'></a> Run a Task on an Application

You can use the cf CLI to run a task in the context of an application. 

<p class="note"><strong>Note</strong>: To run tasks with the cf CLI, you must install the cf CLI v6.23 (?) or later. See the <a href="../cf-cli/install-go-cli.html">Installing the Cloud Foundry Command Line Interface</a> topic for information about downloading, installing, and uninstalling the cf CLI.</p>

To run a task on an application, first push your application. Then, use the `cf run-task APP-NAME TASK` command on your deployed application. For example:

<pre class="terminal">
$ cf run-task my-app "bin/rails db:migrate"
Creating task for app my-app in org jdoe-org / space development as jdoe@pivotal.io...
OK
Task 1 has been submitted successfully for execution.
</pre>

To re-run a task, you must run it as a new task using the above command.

## <a id='list-tasks'></a> List Tasks Running on an Application

To list the tasks for a given application, run the `cf tasks APP-NAME`. For example:

<pre class="terminal">
$ cf tasks my-app
Getting tasks for app sl-rails-blog in org cf-docs-sandbox / space development as sleslie@pivotal.io...
OK

id   name       state       start time                      command
3    ec964e1a   SUCCEEDED   Fri, 09 Dec 2016 23:14:58 UTC   ./tasks/hello_world.sh
2    b84302eb   SUCCEEDED   Fri, 09 Dec 2016 23:09:11 UTC   ./tasks/hello_world.sh
1    491c8a57   SUCCEEDED   Fri, 09 Dec 2016 23:08:44 UTC   ./tasks/hello_world.sh
</pre>

Each task has one of the following states:

<table class="nice" border="1">
    <tr>
       <th>State</th>
       <th>Description</th>
	</tr>
	<tr>
		<td>RUNNING</td>
		<td>The task is currently in progress.</td>
	</tr>
	<tr>
		<td>FAILED</td>
		<td>The task did not complete. This state occurs when a task does not work correctly or a user cancels the task.</td>
	</tr>
	<tr>
		<td>SUCCEEDED</td>
		<td>The task completed successfully.</td>
	</tr>
</table>

## <a id='cancel-task'></a> Cancel a Task

After running a task, you may be able to cancel it before it finishes. To cancel a running task, use the `cf terminate-task APP-NAME TASK-ID` command.

## Sample Application

<strong>Would be nice to have an example</strong>