---
title: Using Experimental cf CLI Commands
owner: CF CLI
---

<p class="note"><strong>Note:</strong> This topic only applies to cf CLI v6. Commands with <code>v3-</code> prefixes do not exist in cf CLI v7. Because these commands are experimental, they are not guaranteed to be available or compatible in subsequent cf CLI releases. <%= vars.company_name %> recommends upgrading to cf CLI v7. For more information, see <a href="../cf-cli/v7.html">Upgrading to cf CLI v7</a>.</p>

This topic describes how to use the experimental Cloud Foundry Command Line Interface (cf CLI) commands offered by the Cloud Controller V3 API.

These commands provide developers with the ability to better orchestrate app deployment workflows. New features include the deployment and management of apps with multiple processes and uploading and staging multiple versions of a single app.

<%= vars.v3_cli_versions %>

For more information about cf CLI commands, see [cf CLI v6 Reference Guide](https://cli.cloudfoundry.org/en-US/v6/). For more information about the Cloud Controller V3 API, see the [CAPI documentation](http://v3-apidocs.cloudfoundry.org/).


## <a id='overview'></a> Overview

The new commands include a `v3-` prefix. While the syntax of some experimental commands is based on the existing cf CLI, these commands call the V3 API and support new flags to unlock additional features. Other commands expose the new primitives of apps, such as by performing operations on an app's packages and droplets.

In the V2 APIs, running and staging an app are tightly coupled operations. As a result, an app cannot be staging and running at the same time. The V3 APIs offer developers more granular control over the uploading, staging, and running of an app.


## <a id='commands'></a> Commands

Consult the following table for a description of the experimental commands.

<table>
<tr>
<th>Command</th>
<th>Description</th>
</tr>
<tr>
<td><code>v3-apply-manifest</code></td>
<td>Applies manifest properties to an app</td>
</tr>
<tr>
<td><code>v3-apps</code></td>
<td>Lists all apps in the target space</td>
</tr>
<tr>
<td><code>v3-create-app</code></td>
<td>Creates a V3 app</td>
</tr>
<tr>
<td><code>v3-create-package</code></td>
<td>Uploads a V3 package</td>
</tr>
<tr>
<td><code>v3-delete</code></td>
<td>Deletes a V3 app</td>
</tr>
<tr>
<td><code>v3-droplets</code></td>
<td>Lists droplets of an app</td>
</tr>
<tr>
<td><code>v3-env</code></td>
<td>Shows all environment variables for an app</td>
</tr>
<tr>
<td><code>v3-get-health-check</code></td>
<td>Shows the type of health check performed on an app</td>
</tr>
<tr>
<td><code>v3-packages</code></td>
<td>Lists packages of an app</td>
</tr>
<tr>
<td><code>v3-push</code></td>
<td>Pushes a new app or syncs changes to an existing app</td>
</tr>
<tr>
<td><code>v3-restart</code></td>
<td>Stops all instances of an app and then starts them again, which may cause downtime</td>
</tr>
<tr>
<td><code>v3-restart-app-instance</code></td>
<td>Terminates and then instantiates an app instance</td>
</tr>
<tr>
<td><code>v3-set-droplet</code></td>
<td>Sets the droplet used to run an app</td>
</tr>
<tr>
<td><code>v3-set-env</code></td>
<td>Sets an environment variable for an app</td>
</tr>
<tr>
<td><code>v3-set-health-check</code></td>
<td>Changes type of health check performed on an app's process</td>
</tr>
<tr>
<td><code>v3-ssh</code></td>
<td>SSH to an app container instance</td>
</tr>
<tr>
<td><code>v3-stage</code></td>
<td>Creates a new droplet for an app</td>
</tr>
<tr>
<td><code>v3-start</code></td>
<td>Starts an app</td>
</tr>
<tr>
<td><code>v3-stop</code></td>
<td>Stops an app</td>
</tr>
<tr>
<td><code>v3-unset-env</code></td>
<td>Removes an environment variable from an app</td>
</tr>
</table>

##<a id='considerations'></a> Considerations

Keep in mind the following considerations when using the experimental commands:

* `v3-push` supports only a subset of features of `push`. In particular, it does not support app manifests.
* For some commands, such as `set-env`, `ssh`, and `bind-service`, no new V3 version exists. In those cases, use the old commands.
* You can use V3 and old commands together, but some combinations may give unexpected results. For example, if you use V3 commands to create an app with a package but it is not staged, or you use `v3-push` to push an app but it fails to stage, the old `apps` command does not return the app.

##<a id='procfile'></a> Declaring Multiple App Processes with a Procfile

Developers can supply a Procfile with their app in order to run multiple long-lived processes using a single codebase.

To use a Procfile, include it in the root of your app directory and push your app.

For more information about Procfiles, see the [About Procfiles](../buildpacks/prod-server.html#procfile) section of the <em>Production Server Configuration</em> topic.
