---
title: Using experimental cf CLI commands
owner: CF CLI
---

<p class="note important">
<span class="note__title">Important</span>
This topic is no longer in use. Commands with <code>v3-</code> prefixes do not exist in cf CLI v7 or v8. Because these commands are experimental, they are not guaranteed to be available or compatible in subsequent cf CLI releases, and they are not guaranteed to be compatible with this version of <%= vars.app_runtime_first %>. <%= vars.company_name %> recommends upgrading to cf CLI v8. For more information, see <a href="../cf-cli/v8.html">Upgrading to cf CLI v8</a>.</p>
