---
title: Create a Managed Service Instance
---

_This page assumes that you are using cf v6._

Service brokers advertise catalogs of services and plans to Cloud Foundry. These are managed services. You can create an instance of a managed service with the `cf create-service` command and bind it to your application with the `cf bind-service` command.

## <a id='create-service'></a>Create a Managed Service Instance and Bind it to an App ##

 

<pre class="terminal">
cf create-service SERVICE PLAN SERVICE_INSTANCE
</pre>

where:

* `SERVICE` --- is the type of service.
* `PLAN` --- is the service plan.
* `SERVICE_INSTANCE` --- is the name you assign to the service instance.

For example:
<pre class="terminal">
cf create-service rabbitmq small-plan my_rabbitmq
</pre>




and receive calls from Cloud Foundry for five functions: fetch catalog, create, bind, unbind, and delete. 

services, s                        List all services in the target space
   service                            Show service instance info
   create-service, cs                 Create a service instance
   delete-service, ds                 Delete a service instance
   rename-service                     Rename a service instance
   bind-service, bs                   Bind a service instance to an app
   unbind-service, us                 Unbind a service instance from an app
