---
title: Streaming app logs with Fluentd
owner: Logging and Metrics
---



[Fluentd](http://www.fluentd.org) is an open source log collector that allows
you to implement unified logging layers. With Fluentd, you can stream app logs to different back ends or services like Elasticsearch, HDFS and
Amazon S3. This topic explains how to integrate Fluentd with Cloud Foundry apps.

## <a id='drain'></a> Step 1: Create a Cloud Foundry syslog drain for Fluentd

1. Create a syslog drain user-provided service instance as
described in [Using third-party log management services](./log-management.html).

1. Choose one or more apps whose logs you want to drain to Fluentd
through the service.

1. Bind each app to the service instance, and restart the app.

1. Note the GUID for each app, the IP address of the Loggregator host, and the
port number for the service.

1. Locate the port number in the syslog URL.
For example:

	`syslog://logs.example.com:5140`

## <a id='config'></a>Step 2: Set up Fluentd for Cloud Foundry

To continue, you must have an active Fluentd instance running.
If you do not have an active Fluentd instance, see the
[Fluentd documentation](https://docs.fluentd.org/installation) for more details.
If you use cf to deploy your fluentd instances, you have to use
[tcp routing](../deploy-apps/routes-domains.html#create-route-w-port).

Fluentd comes with native support for syslog protocol.
To set up Fluentd for Cloud Foundry, configure the syslog input of Fluentd as follows.

1. In your main Fluentd configuration file, add the following `source` entry:

	```
	<source>
	  @type syslog
	  port 8080
	  bind 0.0.0.0
	  tag cf.app
	  message_length_limit 99990
	  frame_type octet_count
	  <transport tcp>
	  </transport>
	  <parse>
		message_format rfc5424
	  </parse>
	</source>
	```
2. Restart the Fluentd service.

<p class="note important">
The Fluentd syslog input plug-in supports <code>tls</code> and <code>tcp</code> options. You must use the same transport that Cloud Foundry is using.</p>

Fluentd starts listening for syslog message on port 8080 and tagging the messages with `cf.app`, which can be used later for data routing. For more details about the full setup for the service, see [Config File](https://docs.fluentd.org/configuration/config-file).

To use an Elasticsearch or Amazon S3 back end, see the [Fluentd documentation](http://www.fluentd.org/guides/recipes/elasticsearch-and-s3).
