---
title: Services Overview
---

<strong><%= modified_date %></strong>

This documentation is intended for end users of Cloud Foundry and covers provisioning of service instances and integrating them with applications that have been pushed to Cloud Foundry. <%= vars.custom_services %>

## <a id='instances'></a>Services and Service Instances ##

Cloud Foundry offers a marketplace of services, from which users can provision reserved resources on-demand. Examples of resources services provide include databases on a shared or dedicated server, or accounts on a SaaS application. These resources are known as Service Instances and the systems that deliver and operate these resources are known as Services. Think of a service as a factory that delivers service instances.

For documentation on provisioning service instances and other lifecycle operations, see [Managing Service Instances](./managing-services.html).

<p class='note'><strong>Note:</strong> For a service to be available in the marketplace, it must be integrated with Cloud Foundry by way of APIs. <%= vars.custom_services %></p>

### <a id='user-provided-services'></a>User-Provided Service Instances ###

Cloud Foundry enables users to integrate services that are not available in the marketplace with their applications using a feature called [User-Provided Service Instances](./user-provided.html) (UPSI).

## <a id='credentials'></a>Service Instance Credentials ##

Cloud Foundry enables users to automatically provision credentials needed to reach a service instance. These credentials can be managed automatically for use by applications on Cloud Foundry, or managed manually for use by external and local clients.

<p class='note'><strong>Note:</strong> Not all services support automated generation of credentials. Some services support credentials through application binding only.</p>

### <a id='application-binding'></a>Application Binding ###

Service instance credentials can be delivered automatically to applications running on Cloud Foundry in an environment variable. For more information, see [Binding Applications to Service Instances](./application-binding.html).

For details on binding specific to your application development framework, refer to the Service Binding section in the documentation for [your framework's buildpack](../../buildpacks/).

### <a id='service-keys'></a>Service Keys ###

Credentials managed manually are known as **Service Keys**. For more information, see [Managing Service Keys](./service-keys.html).

## <a id='log-management'></a>Streaming Applications Logs to Log Management Services ##

To learn how your application logs can be streamed to third-party log management services, see [Log Management Services](./log-management.html).

User-provided service instances can be used to drain applications logs to a service not available in the marketplace. This is also known as setting up a syslog drain. We've documented instructions for a few providers in the [Service-Specific Instructions for Streaming Application Logs](./log-management-thirdparty-svc.html) topic.

## <a id='route-services'></a>Manage Application Requests with Route Services ##

To learn how marketplace services (and user-provided service instances) can be used to perform preprocessing on application requests, see [Manage Application Requests with Route Services](./route-binding.html).

## <a id='migrating'></a>Database Migrations ##

If your application relies on a relational database, you will need to apply schema changes periodically. For guidance on how to do database migrations on Cloud Foundry-managed services, see [Migrating a Database in Cloud Foundry](./migrate-db.html).
