---
title: Manage Application Requests with Route Services
---

<strong><%= modified_date %></strong>

_This page assumes you are using cf CLI v6._

This topic describes how to bind a route service instance to an application route for the purpose of providing filters or content transformations to applications.
When binding a route service instance, Cloud Foundry may proxy requests to the app to the service instance, or configure a network component already in the request path.

After creating a Service Instance from the services available in the Marketplace (see [Managing Services](./managing-services.html)), or from a [User-provided Service](./user-provided.html), you can bind a route to a service instance using a command like this.

<pre class="terminal">
$ cf bind-route-service <%=vars.app_domain%> my-route-service --hostname my-app

Binding may cause requests for route my-app.<%=vars.app_domain%> to be altered by service instance my-route-service. Do you want to proceed?> yes

Binding route my-app.<%=vars.app_domain%> to service instance my-route-service in org my-org / space my-space as admin...

OK
</pre>

<p class="note">
<strong>Note</strong>: Once a route is bound to a route service instance, requests to the application will be first routed through the route service.
</p>

