---
title: Understanding Services 
---
Cloud Foundry Services are any type of add-on that can be provisioned alongside your application; for example, a database or an account on a third-party SaaS provider.

## <a id='managed-services'></a>Managed Services ##

A Managed Service integrates with Cloud Foundry via a service broker that implements the Service Broker API.

A service broker advertises a catalog of service offerings and service plans to Cloud Foundry, and receive calls from Cloud Foundry for four functions: create, delete, bind, and unbind. The broker then passes these calls onto the service itself.


## <a id='user-provided-services'></a>User-Provided Services  ##

User-provided service Instances are a mechanism to deliver credentials to applications for service instances which have been pre-provisioned outside of Cloud Foundry.

Both operators and developers frequently ask how applications pushed to their Cloud Foundry instances can bind with external services, such as Oracle, which they operate themselves or are outside of Cloud Foundry's control'. User-provided Service Instances enable developers to use external services with their applications using familiar workflows.

## <a id='binding-services'></a>About Service Binding ##
 
