---
title: Managing Service Keys
---

_This page assumes you are using cf CLI v6._

This topic describes generation of credentials for service instances for use by external or local clients. For an overview of services, and documentation on other service management operations, see the [Services Overview](index.html) topic. <%= vars.custom_services %>

<p class='note'><strong>Note:</strong> Not all services support automated generation of credentials. Some services support credentials through application binding only.</p>

## <a id='create'></a> Create a Service Key ##

Generates credentials for a service instance.

<pre class="terminal">
$ cf create-service-key myservice mykey
Creating service key mykey for service instance myservice as me@example.com...
OK
</pre>

## <a id='list'></a> List Service Keys for a Service Instance ##

<pre class="terminal">
$ cf service-keys myservice
Getting service keys for service instance myservice as me@example.com...

name
mykey1
mykey2

</pre>

## <a id='detail'></a>Get Credentials for a Service Key ##

<pre class="terminal">
$ cf service-key myservice mykey
Getting key mykey for service instance myservice as me@example.com...

{
  uri: foo://user2:pass2@example.com/mydb,
  servicename: mydb
}
</pre>

`--guid` can be provided to display the API guid for the service key.

<pre class="terminal">
$ cf service-key --guid myservice mykey
Getting key mykey for service instance myservice as me@example.com...

e3696fcb-7a8f-437f-8692-436558e45c7b

OK
</pre>

## <a id='delete'></a>Delete Service Key ##

<pre class="terminal">
$ cf delete-service-key myservice mykey

Are you sure you want to delete the service key mykey ? y
Deleting service key mykey for service instance myservice as me@example.com...

OK
</pre>

Add option `-f` to force deletion without confirmation.

<pre class="terminal">
$ cf delete-service-key -f myservice mykey

Deleting service key mykey for service instance myservice as me@example.com...

OK
</pre>
