## <a id="overlay"></a> Configure the overlay network

Container-to-container networking uses an overlay network to manage communication between app instances.
By default, each Diego Cell in the overlay network is allocated a /24 range that supports 254 containers per cell, one container for each of the usable IP addresses, `.1` through `.254`.

For more information about the overlay network, see [Overlay network](../../concepts/understand-cf-networking.html#overlay-network) in _Container-to-container networking_.

### <a id="cells"></a> Configure the number of Diego Cells

To change the number of Diego Cells supported by the overlay network in your Cloud Foundry deployment, edit the `cf_networking.network` property in your `cf-networking-release` manifest, and then re-deploy Cloud Foundry. See the following examples:

<table class="table">
  <thead><tr>
    <th>Overlay subnet mask</th>
    <th>Number of cells</th>
    <th>Containers per cell </th>
  </tr></thead>
  <tr>
    <td>/20</td>
    <td>15</td>
    <td>254</td>
  </tr>
  <tr>
    <td>/16</td>
    <td>255</td>
    <td>254</td>
  </tr>
  <tr>
    <td>/12</td>
    <td>4,095</td>
    <td>254</td>
  </tr>
</table>

<p class="note caution">
The overlay network IP address range must not conflict with any other IP addresses in the network. If a conflict exists, Diego Cells cannot reach any endpoint that has a conflicting IP address.</p>

### <a id="containers"></a> Configure the number of containers per cell

To change the number of containers per Diego Cell in your Cloud Foundry deployment, edit the `cf_networking.subnet_prefix_length` property in your `cf-networking-release` manifest, and then re-deploy Cloud Foundry. See the following examples:

<table class="table">
  <tr>
    <th>Overlay subnet mask</th>
    <th>Number of cells</th>
    <th>Cell prefix length</th>
    <th>Containers per cell </th>
  </tr>
  <tr>
    <td>/16</td>
    <td>255</td>
    <td>/24</td>
    <td>254</td>
  </tr>
  <tr>
    <td>/16</td>
    <td>255</td>
    <td>/26</td>
    <td>62</td>
  </tr>
  <tr>
    <td>/16</td>
    <td>255</td>
    <td>/28</td>
    <td>14</td>
  </tr>
</table>
