##<a id="logging"></a>Manage Logging for Container-to-Container Networking

This section describes how to configure logging for Container-to-Container Networking events by making requests to the running virtual machines (VMs).
You can also enable logging for iptables policy rules by editing the manifest in [Enable on an IaaS](#iaas).

###<a id="debug-logging"></a>Change Log Level for Debugging

By default, the Policy Server logs events at the `INFO` level.
You can capture more information about events by increasing the log level to `DEBUG`.

To change the log level, follow the steps below:

1. SSH to either the Policy Server or the VXLAN Policy Agent.
    * **Policy Server**: SSH directly to the Policy Server VM.
    * **VXLAN Policy Agent**: SSH to the Diego cell that runs the VXLAN Policy Agent.

1. To change the log level, run the following command:

    <pre class="terminal">
    curl -X POST -d 'LOG-LEVEL' localhost:PORT-NUMBER/log-level
    </pre>

    The `LOG-LEVEL` is `DEBUG` or `INFO`. The `PORT-NUMBER` is `22222` unless you specified a different number when you edited the stub file in [Enable on an IaaS](#iaas) above.
    <br><br>

    The following command increases the log level to `DEBUG`:
    <pre class="terminal">
    $ curl -X POST -d 'DEBUG' localhost:22222/log-level
    </pre>

    The following command decreases the log level to `INFO`:
    <pre class="terminal">
    $ curl -X POST -d 'INFO' localhost:22222/log-level
    </pre>

1. Find the logs in the following locations:
     * **Policy Server**: `/var/vcap/sys/log/policy-server/policy-server.stdout.log`
     * **VXLAN Policy Agent**: `/var/vcap/sys/log/vxlan-policy-agent/vxlan-policy-agent.stdout.log`

###<a id="iptables-logging"></a>Enable Logging for Container-to-Container Networking Policies

By default, CF does not log iptables policy rules for Container-to-Container network traffic. You can enable logging for iptables policy rules
in the manifest in [Enable on an IaaS](#iaas) above, or follow the steps below:

1. SSH to the Diego cell that runs the VXLAN Policy Agent.

1. To change the log level, run the following command:

    <pre class="terminal">
    curl -X PUT -d '{"enabled": BOOLEAN}' localhost:PORT-NUMBER/iptables-c2c-logging
    </pre>

    The `BOOLEAN` is `true` or `false`. The `PORT-NUMBER` is `22222` unless you specified a different number when you edited the stub file in [Enable on an IaaS](#iaas) above.
    <br><br>

    The following command enables logging for iptables policy rules:
    <pre class="terminal">
    $ curl -X PUT -d '{"enabled": true}' localhost:22222/iptables-c2c-logging
    </pre>

    The following command disables logging for iptables policy rules:
    <pre class="terminal">
    $ curl -X PUT -d '{"enabled": false}' localhost:22222/iptables-c2c-logging
    </pre>

1. Find the logs in `/var/log/kern.log`.

###<a id="metrics"></a>Use Metrics to Consume Logs

You can stream Container-to-Container Networking component metrics with the [Loggregator Firehose](../../loggregator/architecture.html#firehose).

Container-to-Container Networking logs include the following prefixes:

* `netmon`
* `vxlan_policy_agent`
* `policy_server`
