This section presents two procedures for enabling Container-to-Container Networking.
See the table below and choose the procedure that corresponds with your use case. 

<table>
<tr>
  <th>If your deployment runs on ...</th>
  <th>Then follow ...</th>
</tr>
<tr>
  <td>An IaaS, such as AWS or vSphere</td>
  <td><a href="#iaas">Enable on an IaaS</a></td>
</tr>
<tr>
  <td>BOSH-Lite, a Vagrant box for testing or development</td>
  <td><a href="#lite">Enable on BOSH-Lite</a></td>
</tr>
</table>

###<a id="iaas"></a>Enable on an IaaS

If your Cloud Foundry (CF) deployment runs on an IaaS, follow these steps to enable Container-to-Container Networking.

<ol>
    <li>Ensure that you have a database ready. To complete this procedure, you need a v5.7 or later MySQL database, or a PostgreSQL database. 
You can use a database within your Cloud Controller database instance or create a different instance, such as Amazon RDS.</li>

    <li>Target your BOSH Director using the BOSH CLI:<br>
    <pre class="terminal">$ bosh target BOSH-DIRECTOR-IP </pre>
    </li>

    <li>If you have not already, upload a stemcell that uses Linux kernel 4.4, such as stemcell 3263.2 or later:<br>
    <pre class="terminal">$ bosh <%= vars.bosh_upload_stemcell %> URL-OF-STEMCELL </pre>
    </li>
<li>
Enter the following command to target your BOSH director:
<pre class="terminal">
$ bosh target BOSH-DIRECTOR-IP
</pre>
For example,
<pre class="terminal">$ bosh target 192.0.2.1</pre>
</li>
<li>
Enter the following command to set your CF deployment to the manifest you generated.
<pre class="terminal">
$ bosh deployment ${output_path}/cf.yml
</pre>
</li>
<li>
Enter the following command to deploy CF.
<pre class="terminal">$ bosh deploy</pre>
</li>
<li>
Enter the following command to set your Diego deployment to the manifest you generated.
<pre class="terminal">
$ bosh deployment ${output_path}/diego.yml
</pre>
</li>
<li>
Enter the following command to deploy Diego.
<pre class="terminal">$ bosh deploy</pre>
</li>
<li>(Optional) Try the <a href="https://github.com/cloudfoundry-incubator/cf-networking-release/tree/develop/src/example-apps/cats-and-dogs">Cats and Dogs</a> example in the Container-to-Container Networking Release repository. In this tutorial, you deploy two apps and create a Container-to-Container Networking policy that allows them to communicate directly with each other. 
 </li>
</ol>

###<a id="lite"></a>Enable on BOSH-Lite

If your CF deployment runs on BOSH-Lite, follow these steps to enable Container-to-Container Networking. 
<ol>
  <li> Ensure your BOSH-Lite version is `9000.131.0` or later. If you need to upgrade, follow the instructions for [Upgrading the BOSH-Lite VM](https://github.com/cloudfoundry/bosh-lite/blob/master/README.md#upgrading-the-bosh-lite-vm). 
  </li>
  <li> Navigate to your `bosh-lite` directory, for example,
    <pre class="terminal">$ cd ~/workspace/bosh-lite </pre>
  </li>
  <li> To enable <a href="http://ebtables.netfilter.org/documentation/bridge-nf.html">bridge-netfilter</a> on the VM running BOSH-Lite, run the following command:
      <pre class="terminal">$ vagrant ssh -c 'sudo modprobe br_netfilter'</pre>
    <br>Container-to-Container Networking on BOSH-Lite requires this Linux kernel feature to enforce network policy. 
  </li>

<li> Upload the latest BOSH-Lite stemcell:
  <pre class="terminal">$ bosh <%= vars.bosh_upload_stemcell %> http<span>s:</span>//bosh.io/d/stemcells/bosh-warden-boshlite-ubuntu-trusty-go_agent</pre>
  </li>
  <li>To clone the required CF release repos to your workspace, enter the following commands:<br>
  <pre class="terminal">$ git clone https<span>:</span>//github.com/cloudfoundry/diego-release<br>$ git clone https<span>:</span>//github.com/cloudfoundry/cf-release<br>$ git clone https<span>:</span>//github.com/cloudfoundry-incubator/cf-networking-release</pre></li>
  <li>To enable Container-to-Container Networking on BOSH-Lite, navigate to the `cf-networking-release` directory and run the deploy script:<br>
  <pre class="terminal">$ cd ~/workspace/cf-networking-release<br>$ ./scripts/deploy-to-bosh-lite</pre></li>
 <li>(Optional) Try the <a href="https://github.com/cloudfoundry-incubator/cf-networking-release/tree/develop/src/example-apps/cats-and-dogs">Cats and Dogs</a> example in the Container-to-Container Networking Release repository. In this tutorial, you deploy two apps and create a Container-to-Container Networking policy that allows them to communicate directly with each other. 
 </li>
</ol>
