<div class="note"><strong>Note</strong>: This attribute is available in the Cloud Foundry V3 API only. To push a manifest that uses this attribute, use cf CLI v7. See <a href="../../cf-cli/v7.html">Upgrading to cf CLI v7</a>.</div>
