<div class="note important">
This attribute is available with CAPI V3 only. To push a manifest that uses this attribute, use the Tanzu cf CLI.
<br>Run 
<pre>cf push APP-NAME</pre> 
<br>For information about this function, enter:
<pre>cf push --help</pre>
<br><br>For more details, see the <a href="https://techdocs.broadcom.com/us/en/vmware-tanzu/platform/tanzu-cf-cli/<%= vars.tanzu_cf_cli_version %>/t-cf-cli/standalone-index.html">Tanzu cf CLI documentation</a>.
</div>
