<div class="note"><strong>Note</strong>: This attribute is available with CAPI V3 only. To push a manifest that uses this attribute, do either of the following:
  <p>
    <ul>
      <li>Use cf CLI v7 or v8. See <a href="../../cf-cli/v7.html">Upgrading to cf CLI v7</a> or <a href="../../cf-cli/v8.html">Upgrading to cf CLI v8</a>.</li>
      <li>Run <code>cf v3-push APP-NAME</code>. See <a href="https://cli.cloudfoundry.org/en-US/cf/v3-push.html">v3-push - Cloud Foundry CLI</a>.</li>
    </ul>
  </p>
</div>
