<div class="note important">
This attribute is available with CAPI V3 only. To push a manifest that uses this attribute, do one of the following:
  <p>
    <ul>
      <li>Use Tanzu cf CLI.
      See <a href="../../operating/cf-cli/cf-cli-v10.html">Upgrading to Tanzu cf CLI v10</a>.</li>
      <li>Run <code>cf push APP-NAME</code>. Enter <code>cf push --help</code> for information about this function.</li>
    </ul>
  </p>
</div>
