<div class="note important">
This attribute is available with CAPI V3 only. To push a manifest that uses this attribute, do one of the following:
  <p>
    <ul>
      <li>Use cf CLI v7 or v8.
      See <a href="../../cf-cli/v7.html">Upgrading to cf CLI v7</a> or <a href="../../cf-cli/v8.html">Upgrading to cf CLI v8</a>.</li>
      <li>Run <code>cf push APP-NAME</code>. See <a href="https://cli.cloudfoundry.org/en-US/v8/push.html">push - Cloud Foundry CLI</a> for information about this function.</li>
    </ul>
  </p>
</div>
