---
title: Identifying the API Endpoint for your Cloud Foundry Instance
---

The API endpoint, or target URL, for your Cloud Foundry instance is the URL of
the Cloud Controller in your Cloud Foundry instance.
Find your API endpoint by consulting your cloud operator, from the Developer Console, or from the command line.

## <a id='console'></a>From the Developer Console ##

If you have access to the Developer Console for your Cloud Foundry instance,
click **Tools** in the left navigation panel.
The **Getting Started** section of the Tools page shows your API endpoint.

## <a id='cli'></a>From the Command Line ##

From a command line, use the `cf api` command to view your API endpoint.

Example:

<pre class='termnial'>
$ cf api
API endpoint: https://api.sample.com (API version: 2.2.0)
</pre>
