---
title: Scaling an app using Cloud Foundry CLI (cf scale)
owner: CAPI
---


Several factors, such as user load and the number and nature of tasks, can change the disk space, memory, and log rate limit that an app uses. This article describes how to scale an app using the Cloud Foundry Command Line Interface (cf CLI).
For many apps,
increasing the available disk space or memory can improve overall performance. Similarly, running additional instances of an app can allow the app to handle
increases in user load and concurrent requests. Making these adjustments is called _scaling_ an app.

You can use the `cf scale` command to scale an app up or down to meet changes in traffic or demand. For more information, enter `cf scale --help`.

<%= vars.autoscaler_note_dev_guide %>


## <a id='horizontal'></a> Scaling Horizontally

Horizontally scaling an app creates or destroys instances of the app.

Incoming requests to an app are automatically load-balanced across all instances of the app, and each instance handles tasks in parallel with every other
instance. Adding more instances allows the app to handle increased traffic and demand.

### <a id='scale-horizontally'></a> Horizontally Scale an App

To horizontally scale an app:

1. In a terminal window, run:

    ```
    cf scale APP-NAME -i NUMBER-OF-INSTANCES
    ```

    Where:
    <ul>
      <li><code>APP-NAME</code> is the name of the app you want to scale.</li>
      <li><code>NUMBER-OF-INSTANCES</code> is the number of instances you want the app to have.</li>
    </ul>

    For example:

    <pre class="terminal">
    cf scale example-app -i 5
    </pre>

<p class="note important">
If you are using cf CLI v7, you can include the <code>--process</code> flag to scale specific processes of an
app.</p>


## <a id='vertical'></a> Scaling vertically

Factors such as user load, or the number and nature of tasks performed by an app, can change the disk space and memory the app uses.
This topic describes how to scale an app using the Cloud Foundry Command Line Interface (cf CLI).
For many apps, increasing the available disk space or memory can improve
overall performance.
Similarly, running additional instances of an app can allow the
app to handle increases in user load and concurrent requests.
These adjustments are called **scaling** an app.

### <a id='change-disk-limit'></a> Scale the Disk Space Limit of an App

To scale the disk space limit applied to all instances of an app:

## <a id="horizontal"></a>Scaling horizontally ##

    ```
    cf scale APP-NAME -k DISK-LIMIT
    ```

    Where:
    <ul>
      <li><code>APP-NAME</code> is the name of the app you want to scale.</li>
      <li><code>DISK-LIMIT</code> is the maximum amount of disk space in megabytes or gigabytes that you want each app instance to use. This value must be an integer followed by either <code>M</code> or <code>G</code>.</li>
    </ul>

    For example:

    <pre class="terminal">
    cf scale example-app -k 512M
    </pre>

### <a id='change-memory-limit'></a> Scale the Memory Limit of an App

To scale the memory limit applied to all instances of an app:

1. In a terminal window, run:

    ```
    cf scale APP-NAME -m MEMORY-LIMIT
    ```

    Where:
    <ul>
      <li><code>APP-NAME</code> is the name of the app you want to scale.</li>
      <li><code>MEMORY-LIMIT</code> is the maximum amount of memory in megabytes or gigabytes that you want each app instance to use. This value must be an integer
      followed by either <code>M</code> or <code>G</code>.</li>
    </ul>

    For example:

    <pre class="terminal">
    cf scale example-app -m 1G
    </pre>

### <a id='change-log-rate-limit'></a> Scale the Log Rate Limit of an App

To scale the log rate limit applied to all instances of an app:

1. In a terminal window, run:

    ```
    cf scale APP-NAME -l LOG-RATE-LIMIT
    ```

    Where:
    <ul>
      <li><code>APP-NAME</code> is the name of the app you want to scale.</li>
      <li><code>LOG-RATE-LIMIT</code> is the maximum number of logs in bytes, kilobytes, megabytes, or gigabytes that you want each app instance to send to Loggregator. This
      value must be an integer followed by either <code>B</code>, <code>K</code>, <code>M</code>, or <code>G</code>. To configure each app instance to send an unlimited number of logs to Loggregator,
      specify <code>-1</code>.</li>
    </ul>

    For example:

    <pre class="terminal">
    cf scale example-app -l 12K
    </pre>
