---
title: Diego SSH Overview
---

<strong><%= modified_date %></strong>

This page assumes you are using CF CLI v6.13.0 or later.

This topic introduces SSH configuration for applications in a Cloud Foundry deployment. 

If you need to troubleshoot an instance of an app, you can gain SSH access to the app with the Diego SSH proxy and daemon. For example, your app may be unresponsive or the log output from the app may be inconsistent or incomplete. 

You can control SSH access at the app, space, and platform level. Cloud Foundry supports SSH access to applications running on both the Diego and legacy DEA runtime architectures.

## <a id='app-ssh-config'></a>Diego SSH Access for Apps and Spaces
SSH access can be enabled or disabled for an application from the command line.
Administrators can also set space level SSH control for the applications in each space they manage. The Accessing Apps with Diego SSH topic describes [how to use and configure SSH at both the application and space level](./ssh-apps.html). 

## <a id="platform-ssh-config"></a> Configuring SSH Access for Platform 
<%= vars.platform_ssh_configuration %>

The original repository for Diego SSH can be found at [Diego-SSH on GitHub](https://github.com/cloudfoundry-incubator/diego-ssh).

## <a id="diego-ssh-concepts"></a> Understanding Diego SSH
The Diego architecture includes the Diego SSH proxy and daemon, two types of authentication, and load balancing of incoming SSH traffic. The Understanding Diego SSH topic provides [a conceptual overview of those Diego SSH components](../../concepts/diego/diego-ssh.html).