 ---
title: Using Application Health Checks
owner:
  - CAPI
  - CLI
---

<strong><%= modified_date %></strong>

## <a id="about_health_checks"></a>How Application Health Checks Work

When 

The monitor action is configured per the above parameters. 

Once the app becomes healthy, it's health is checked every 30s. Each time the health is checked, the TCP connection or HTTP Connection has a 1s timeout.

The health is monitored separately for each instance of the app running in separate containers, when an instance becomes healthy, its route will be advertised if applicable.

Once an app instance becomes healthy, if a health check fails, Diego immediately considers that particular instance unhealthy, stops that instance, tears down the container, and reschedules it. This is reported back to the Cloud Controller as a crash event. When an app instance crashes, it will be immediately restarted several times. If the app instance is continuously crashing, an exponential back off is applied.

<table>
	<tr>
		<th>Step</th>
		<th>Description</th>
	</tr>
	<tr>
		<td>1</td>
		<td>Application developer deploys an app to Cloud Foundry.</td>
	</tr>
	<tr>
		<td>2</td>
		<td>When deploying the app, the developer specifies a `health-check-type` for the app and a timeout.
		</td>
	</tr>
	<tr>
		<td>3</td>
		<td>Cloud Controller stages, starts, and runs the app. 
		</td>
	</tr>
	<tr>
		<td>4</td>
		<td>Cloud Controller specifies a "monitor action" that runs periodically inside the container. The configuration of the monitor action depends on the `health-check-type` specified by the developer at application deploy time.
		</td>
		<td>5</td>
		<td>When an app instance is started in the container, the app's health is checked every 2s until it becomes healthy or the timeout lapses. 
		</td>
	</tr>
</table>


## <a id="types"></a> Types of Application Health Checks

`port`, `process`, or `http` as the `health-check-type`. If the developer does not specify the type as a deployment option, the health check type defaults to `port`.

## <a id="setting_health_checks"></a> Set up a Health Check for Your Application

https://apidocs.cloudfoundry.org/251/apps/creating_an_app.html

### <a id="http_health_checks"></a> Set up an HTTP Health Check 


### <a id="process_health_checks"></a> Set up a Process Health Check

### <a id="port_health_check"></a> Set up a Port Health Check




