---
title: Rolling App Deployments
owner: CAPI
---

This topic describes how developers use Cloud Foundry Command Line Interface (cf CLI) commands
or the Cloud Foundry API (CAPI) to push their apps using a rolling deployment.

For information about the traditional method for addressing app downtime while pushing app updates,
see [Using Blue-Green Deployment to Reduce Downtime and Risk](./blue-green.html).

For more information about CAPI, see the
[Cloud Foundry API (CAPI)](https://v3-apidocs.cloudfoundry.org/) documentation.


## <a id="prerequisites"></a> Prerequisites

The procedures in this topic require one of the following:

* **cf CLI v7:** Install cf CLI v7.

* **cf CLI v6:** If you use cf CLI v6:
  * You must install cf CLI v6.40 or later.
  * The rolling deployment feature must be enabled for your deployment. <%= vars.zdt_enable %>

* **CAPI V3:** If you use CAPI V3, you must install the cf CLI.


## <a id="commands"></a> Commands

This section describes the commands for working with rolling app deployments.

### <a id="deploy"></a> Deploy an App

To deploy an app without incurring downtime:

* **cf CLI v7:**

1. Run:

    ```
    cf push APP-NAME --strategy rolling
    ```
    Where `APP-NAME` is the name that you want to give your app.
    <p class="note"><strong>Note:</strong> cf CLI v7 exits when one instance of each process is
healthy. It also includes a <code>--no-wait</code> flag on push for users who do not want to wait
for the operation to complete. <code>cf push</code> used with the <code>--no-wait</code> flag exits
as soon as one instance is healthy.</p>

1. If the deployment hangs indefinitely, cancel the process and run it again with the step above. 
To cancel, see [Cancel a Deployment](#cancel) below.

* **cf CLI v6:**

1. Run:

    ```
    cf v3-zdt-push APP-NAME
    ```
    Where `APP-NAME` is the name that you want to give your app.
    <p class='note'><strong>Note:</strong> This command is experimental and unsupported. Consider 
      upgrading to cf CLI v7 to use a supported version of this command. To upgrade to cf CLI v7, see 
      <a href="../../cf-cli/v7.html#install">Install cf CLI v7</a> in <em>Upgrading to cf CLI v7</em>.</p>

* **CAPI V3:**

1. Log in to the cf CLI.

    ```
    cf login
    ```

1. Create an empty app by running the following `curl` command  with `POST /v3/apps`. Record the
app GUID from the output.

    ```
    cf curl /v3/apps \
      -X POST \
      -H "Content-type: application/json" \
      -d '{
        "name": "APP-NAME",
        "relationships": {
          "space": {
            "data": {
              "guid": "SPACE-GUID"
            }
          }
        }
      }'
    ```
    Where:
    * `APP-NAME` is the name that you want to give your app.
    * `SPACE-GUID` is the space identifier that you want to associate with your app.

1. Create a package with the following `curl` command with `POST /v3/packages`. Record the package
GUID from the output.

    ```
    cf curl /v3/packages \
      -X POST \
      -H "Content-type: application/json" \
      -d '{
        "type": "bits",
        "relationships": {
          "app": {
            "data": {
              "guid": "APP-GUID"
            }
          }
        }
      }'
    ```
    Where `APP-GUID` is the app GUID that you recorded in the previous step. This app GUID is a
    unique identifier for your app.

1. Upload the package bits by running the following `curl` command with
`POST /v3/packages/PACKAGE-GUID/upload`.

    ```
    cf curl /v3/packages/PACKAGE-GUID/upload \
    -X POST \
    -F bits=@"PACKAGED-APP" \
    ```
    Where:
    * `PACKAGE-GUID` is the package GUID that you recorded in the previous step.
    * `PACKAGED-APP` is your app packaged in a file such as `.zip`.

1. Create the build by running the following `curl` command with `POST /v3/builds`. Record the
droplet GUID from the output.

    ```
    cf curl /v3/builds \
      -X POST \
      -H "Content-type: application/json" \
      -d '{
        "package": {
           "guid": PACKAGE-GUID"
        }
      }'
    ```
    Where `PACKAGE-GUID` is the package GUID that you recorded in a previous step.

1. Deploy your app by running the following `curl` command with `POST /v3/deployments`. To verify
the status of the deployment or take action on the deployment, record the deployment GUID from the
output.

    ```
    cf curl /v3/deployments \
    -X POST \
    -H "Content-type: application/json" \
    -d '{
      "droplet": {
        "guid": "DROPLET-GUID"
      },
      "strategy": "rolling",
      "relationships": {
        "app": {
          "data": {
            "guid": "APP-GUID"
          }
        }
      }
    }'
    ```
    Where `DROPLET-GUID` and `APP-GUID` are the GUIDs that you recorded in previous steps.

<p class="note warning"><strong>Warning:</strong> Ensure that you understand the limitations of
this feature before running the command. For more information, see
<a href="#limitations">Limitations</a> below.</p>

For more information about this command, see [How It Works](#how-it-works) below.

### <a id="cancel"></a> Cancel a Deployment

To stop the deployment of an app that you pushed:

* **cf CLI v7:**

1. Run:

    ```
    cf cancel-deployment APP-NAME
    ```
    Where `APP-NAME` is the name of the app.

* **cf CLI v6:**

1. Run:

    ```
    cf v3-cancel-zdt-push APP-NAME
    ```
    Where `APP-NAME` is the name of the app.
    <p class='note'><strong>Note:</strong> This command is experimental and unsupported. 
      Consider upgrading to cf CLI v7 to use a supported version of this command. To 
      upgrade to cf CLI v7, see <a href="../../cf-cli/v7.html#install">Install cf CLI v7</a> 
      in <em>Upgrading to cf CLI v7</em>.</p>

* **CAPI V3:**

1. Run:

    ```
    cf curl /v3/deployments/DEPLOYMENT-GUID/actions/cancel" -X POST
    ```
    Where `DEPLOYMENT-GUID` is the GUID of the deployment that you recorded after following the
    CAPI procedure in [Deploy an App](#deploy) above.

This reverts the app to its state from before the deployment started by doing the following:

* Scaling up the original web process
* Removing any deployment artifacts
* Resetting the `current_droplet` on the app

<p class="note"><strong>Note:</strong> The cancel command is designed to revert the app to its
original state as quickly as possible and does not guarantee zero downtime.</p>

### <a id="restart"></a> Restart an App

To restart your app without downtime, run the appropriate command below. Restart an app to apply
configuration updates that require a restart, such as environment variables or service bindings.

* **cf CLI v7:**

1. Run:

    ```
    cf restart APP-NAME --strategy rolling
    ```
    Where `APP-NAME` is the name of the app.

* **cf CLI v6:**

1. Run:

    ```
    cf v3-zdt-restart APP-NAME
    ```
    Where `APP-NAME` is the name of the app.
    <p class='note'><strong>Note:</strong> This command is experimental and unsupported. 
      Consider upgrading to cf CLI v7 to use a supported version of this command. To upgrade 
      to cf CLI v7, see <a href="../../cf-cli/v7.html#install">Install cf CLI v7</a> in 
      <em>Upgrading to cf CLI v7</em>.</p>

* **CAPI V3:**

1. Run:

    ```
    cf curl /v3/deployments \
    -X POST \
    -H "Content-type: application/json" \
    -d '{
      "droplet": {
        "guid": "DROPLET-GUID"
      },
      "strategy": "rolling",
      "relationships": {
        "app": {
          "data": {
            "guid": "APP-GUID"
          }
        }
      }
    }'
    ```
    Where `DROPLET-GUID` and `APP-NAME` are the GUIDs that you recorded in previous steps.


## <a id="how-it-works"></a> How It Works

This section describes the rolling deployments and their limitations.

### <a id="deployment-process"></a> Rolling Deployment Process

This section describes the process of pushing an app with a rolling deployment strategy.

1. The `cf push APP-NAME --strategy rolling` command does the following:
  1. Stages the updated app package.
  1. Creates a droplet with the updated app package.
  1. Creates a deployment with the new droplet and any new configuration.
      * This starts a new process with one instance that shares the route with the old process.
      * At this point, if you run `cf app` on your app, you see multiple `web` processes.
    <br>
    For more information about the deployment object, see the [Deployments](http://v3-apidocs.cloudfoundry.org/index.html#deployments) section of the CAPI V3 documentation.

1. After the command creates the deployment, the `cc_deployment_updater` BOSH job runs in the
background, updating deployments as follows:
  1. Adds another instance of the new web process and removes an instance from the old web process.
    <p class="note"><strong>Note:</strong> This only happens if all instances of the new web
    process are currently running.</p>
  1. Repeats the above step until the new web process reaches the desired number of instances.
  1. Removes the old web process. The new web process now fully replaces the old web process.
  1. Restarts all non-web processes of the app.
  1. Sets the deployment to `DEPLOYED`.

### <a id="limitations"></a> Limitations

The following table describes the limitations of when using rolling deployments.

<table>
  <tr>
    <th>Limitation</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>App Manifests</td>
    <td>The <code>cf v3-zdt-push</code> command does not support providing an app manifest with the
    <code>-f</code> flag. If you have a <code>manifest.yml</code> file in your app directory, it is
    ignored.
    <p class="note"><strong>Note:</strong> This limitation only applies to cf CLI v6.</p></td>
  </tr>
  <tr>
    <td>SSH to app instances</td>
    <td>Pushing updates to your app with a <code>cf v3-zdt-push</code> command causes the new web process
    and app GUID to mismatch. <code>cf ssh</code> does not handle this scenario. You must use the
    <code>cf v3-ssh</code> command instead.
    <p class="note"><strong>Note:</strong> This limitation only applies to cf CLI v6.</p></td>
  </tr>
  <tr>
    <td>Multiple app versions</td>
    <td>During a deployment, Cloud Foundry serves both the old and new version of your app at the
    same route. This could lead to user issues if you push backwards-incompatible API changes.</td>
  </tr>
  <tr>
    <td>Database migrations</td>
    <td>Deployments do not handle database migrations. Migrating an app database when the existing
    app is not compatible with the migration can result in downtime.</td>
  </tr>
  <tr>
    <td>Non-web processes</td>
    <td>Rolling deployments only run web processes through the rolling update sequence described
    above. The commands restart worker and other non-web processes in bulk after updating all web
    processes.<br><br>
		The CAPI V3 API introduces the concept of processes as runnable units of an app. Each app has a
    web process by default. You can specify additional processes with a Procfile, and in some cases
    buildpacks create additional processes. For more information about processes, see
    <a href="http://v3-apidocs.cloudfoundry.org/index.html#processes">Processes</a> in the CAPI V3
    documentation.</td>
  </tr>
  <tr>
    <td>Quotas</td>
    <td>Pushing updates to your app using a rolling deployment strategy creates an extra instance
    of your app. If you lack sufficient quota, the deployment fails. Admins might need to increase
    quotas to accommodate rolling deployments.</td>
  </tr>
  <tr>
    <td>Simultaneous apps when interrupting a push</td>
    <td>If you push app before your previous push command for the same app has completed, your
    first push gets interrupted. Until the last deployment completes, there might be many versions
    of the app running at the same time. Eventually, the app runs the code from your most recent
    push.</td>
  </tr>
</table>


## <a id="status"></a> View the Status of Rolling Deployments

You can use CAPI to view the status of rolling deployments.

To view the status of a rolling deployment:

1. Log in to the cf CLI:

    ```
    cf login
    ```

1. Find the GUID of your app by running:

    ```
    cf app APP-NAME --guid
    ```
    Where `APP-NAME` is the name of the app.

1. Find the deployment for that app by running:

    ```
    cf curl GET /v3/deployments?app_guids=APP-GUID&status_values=ACTIVE
    ```
    Where `APP-GUID` is the GUID of the app. Deployments are listed in chronological order, with
    the latest deployment displayed as the last in a list.

1. Run:

    ```
    cf curl GET /v3/deployments/DEPLOYMENT-GUID
    ```
    Where `DEPLOYMENT-GUID` is the GUID of the rolling deployment.

`cf curl GET /v3/deployments/DEPLOYMENT-GUID` returns the following properties about the status of rolling deployments:

* `status.value`: Indicates if the deployment is `ACTIVE` or `FINALIZED`.

* `status.reason`: Provides detail about the deployment status.

* `status.details`: Provides the timestamp for the most recent successful health check.
  The value of the `status.details` property can be `nil` if there is no successful health check
  for the deployment. For example, there might be no successful health check if the deployment was
  cancelled.

The following table describes the possible values for the `status.value` and `status.reason`
properties:

<table class="nice">
  <th width="20%"><code>status.value</code></th>
  <th width="20%"><code>status.reason</code></th>
  <th width="60%">Description</th>
  <tr>
    <td><code>ACTIVE</code></td>
    <td><code>DEPLOYING</code></td>
    <td>The deployment is deploying.</td>
  </tr>
  <tr>
    <td><code>ACTIVE</code></td>
    <td><code>CANCELLING</code></td>
    <td>The deployment is cancelling.</td>
  </tr>
  <tr>
    <td><code>FINALIZED</code></td>
    <td><code>DEPLOYED</code></td>
    <td>The deployment was deployed.</td>
  </tr>
  <tr>
    <td><code>FINALIZED</code></td>
    <td><code>CANCELLED</code></td>
    <td>The deployment was cancelled.</td>
  </tr>
  <tr>
    <td><code>FINALIZED</code></td>
    <td><code>SUPERSEDED</code></td>
    <td>The deployment was stopped and did not finish deploying because there was another
    deployment created for the app.
    </td>
  </tr>
  <tr>
    <td><code>FINALIZED</code></td>
    <td><code>DEGENERATE</code></td>
    <td>The deployment was created incorrectly by the system.</td>
  </tr>
</table>
