---
title: Using User Rate Limits to override general rate limits
owner: CAPI
---

Platform operators can set the rate limit for specific users, and it overrides the general rate limit. This user-specific rate limiting is enabled only if general rate limiting and user rate limiting are both enabled. The existing rate limit logic uses the user-specific rate limit value when it is specified.

Users can set rate limits even when the general rate limiting feature or user rate limiting are disabled; they will see a warning that rate limiting is currently disabled. The limits come into force when the feature is turned on. This allows the customization of rate limiting for users to be set up before rate limiting is enforced. 

## <a id='setting'></a> Setting User Rate Limits

An operator can override the general rate limit for a user, and the user rate limit is applied immediately. For example: 

```
cf set-rate-limit Alice --request-limit 1000
```

An operator can override the general limit for a user by providing an origin flag. For example:

```
cf set-rate-limit tom@broadcom.com --request-limit 2000 --origin ldap
```

An operator can override the general limit for a client. For example:

```
cf set-rate-limit 9037f189-2309-4bf6-a81d-7e981c34d2c7 --client  --request-limit=10000
```

If general rate limiting or user rate limiting is disabled, a warning is displayed when trying to set the rate limit, but the user rate limit is still applied. See the following example output:

```console
cf set-rate-limit Alice --request-limit 1000
WARNING: Rate limiting is currently disabled. It must be enabled before rate limiting is applied.
```

## <a id='unset'></a> Remove (unset) existing user rate limits

An operator can remove an existing user rate limit. For example:

```
cf unset-rate-limit Alice
cf unset-rate-limit 9037f189-2309-4bf6-a81d-7e981c34d2c7 --client-id
cf unset-rate-limit tom@broadcom.com --origin ldap
```

## <a id='show'></a> Show rate limits

Users can retrieve the general rate limit and their user rate limit. Operators can retrieve the rate limits for any user. For example:

```console
cf user Alice

Showing information of user Alice as admin...

username:   Alice
request rate limit:
  enabled:                        true
  general limit:                  2000
  user custom limiting enabled:   true
  user custom limit:              10000000
  reset interval:                 60
origin:   uaa

```

## <a id='API'></a> API Changes

The /v3/users API call has been updated with a rate limits section. This is available on Create, Update, Get, and List to set, unset, and view the user rate limits.
The rate limits section is shown in the following example:

```
{
    "guid": "3a5d3d89-3f89-4f05-8188-8a2b298c79d5",
    "rate_limits": {
       "custom_request_limit": 2000
     }
  }
```

In the following example, /v3/info has been updated to return the general and user rate limits.

```
cf curl 'v3/info'
{"build":"10.2.0-build.7","cli_version":{"minimum":"6.23.0","recommended":"6.23.0"},"custom":{},"description":"https://techdocs.broadcom.com/us/en/vmware-tanzu/platform/tanzu-platform-for-cloud-foundry/10-2/tpcf/runtime-rn.html","name":"Small Footprint Tanzu Platform for Cloud Foundry","version":0,"osbapi_version":"2.15","rate_limits":{"enabled":true,"user_enabled":true,"general_limit":2000,"reset_interval_in_minutes":60},"links":{"self":{"href":"https://api.sys.tas.2b31299f.shepherd.tanzu.broadcom.net/v3/info"},"support":{"href":"https://tanzu.vmware.com/support"}}}
```  

