---
title: Installing the cf Command Line Interface
---

<strong><%= modified_date %></strong>

To install the Cloud Foundry command line interface (cf CLI), download it from <%=vars.cli_download%> and follow the instructions for your operating system. If you previously used the cf CLI v5 Ruby gem, [uninstall](#version5) this gem first.

## <a id="install-gem"></a>Install cf CLI ##

### <a id="windows"></a>Windows Installation###

To install the cf CLI on Windows:

1. Unpack the zip file.
1. Double click the `cf CLI` executable.
1. When prompted, click **Install**, then **Close**.
1. To verify your installation, open a terminal window and type `cf`.
If your installation was successful, the cf CLI help listing appears.

### <a id="nixlike"></a>Mac OS X and Linux Installation###

1. Open the `.pkg` file.
1. In the installer wizard, click **Continue**.
1. Select an install destination and click **Continue**.
1. When prompted, click **Install**.
1. To verify your installation, open a terminal window and type `cf`.
If your installation was successful, the cf CLI help listing appears.

## <a id="nextstep"></a>Next Steps ##

See [Getting Started with cf CLI](./getting-started.html) for more information about how to use the cf CLI.

We recommend that you review our [CLI releases page](https://github.com/cloudfoundry/cli/releases) to learn when updates are released, and download a new binary or a new installer when you want to update to the latest version. 

## <a id="uninstall-gem"></a>Uninstall cf CLI ##

### <a id="installer"></a>Installer###

If you previously downloaded and installed a cf CLI installer:

* For Mac OS, delete the binary `/usr/local/bin/cf`, and the directory `/usr/local/share/doc/cf-cli`.

* For Windows, navigate to the **Control Panel**, click **Programs and Features**, select `Cloud Foundry VERSION CLI` and click **Uninstall**.

### <a id="binary"></a>Binary###

If you previously downloaded and installed a cf CLI binary, remove the binary from where you copied it.

### <a id="version5"></a>cf CLI v5###

To uninstall, run `gem uninstall cf`.

<p class="note"><strong>Note</strong>: To ensure that your Ruby environment manager registers the change, close and reopen your terminal.</p>


