---
title: Deploying Applications to Cloud Foundry
---

This guide explains how to use the cf command line tool to:

*  Push your application to Cloud Foundry
*  Provision and bind services
*  Scale your application
*  Troubleshoot problems with your application

Note that this documentation refers to the cf command line utility version 5.4.0, a Ruby gem installed with `gem install cf`

<ul>
  <% for page in current_page.children.sort_by {|x| x.data.title} %>
    <li><%= link_to page.data.title, page.url %></li>
  <% end %>
</ul>